/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  background-color: $color-light-bg;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;

  @include css-var {
    top: var(--admin-bar-height);
  }
}

.c-header__inner {
  display: flex;
  align-items: center;
  height: $header-height-small;
}

.c-header__hamburger {
  position: relative;
  z-index: 12;
  margin-left: auto;

  &:not(.is-active):active {
    color: $color-orange;
  }
}

.c-header__logo {
  display: block;
}

.c-header__logo-image {
  display: block;
  width: 60px;
  height: 22px;
}

@include bp(medium) {
  .c-header__inner {
    height: $header-height-medium;
  }

  .c-header__logo-image {
    width: 92px;
    height: 33px;
  }
}

@include bp-down(xlarge) {
  .c-header__menu {
    background-color: $color-orange;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 11;
    padding: 95px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 437px;
    transform: translateX(100%);
    transition: transform $transition-fast-out ease;
  }

  .c-header__menu.is-active {
    transform: none;
    transition-duration: $transition-fast-in;
  }

  .c-header__hamburger {
    padding: 10px;
    margin-right: -10px;
  }



  @include bp(360px) {
    .c-header__menu.is-active {
      box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
    }
  }

  @include bp(medium) {
    .c-header__menu {
      padding: 100px 74px;
    }
  }
}

@include bp(xlarge) {
  .c-header {
    background-color: $color-white;
  }

  .c-header__menu {
    display: flex;
    align-self: stretch;
    align-items: stretch;
    margin-left: auto;
  }

  .c-header__logo-image {
    width: 134px;
    height: 48px;
  }
}
