/* ==========================================================================
   #PAGE DATE
   ========================================================================== */

.c-page-date {
  font-style: normal;
  margin-bottom: $block-bottom-margin;
  display: block;
}
