/* ==========================================================================
   #PAGE TITLE
   ========================================================================== */

.c-page-title {
  margin-top: -0.1em;
  word-break: normal;
}
