{% if items %}
{% for item in items %}
  {% include 'partials/design-registry-item.twig' with item %}
{% endfor %}

  {% if pagination %}
    <nav class="c-design-registry__pagination">
      {{ pagination }}
    </nav>
  {% endif %}

{% else %}
  There are no items to show
{% endif %}
