<div class="c-design-registry__item">
  {{ tag(tag(title, '', 'a', {href: url, rel: 'noreferrer noopener', target: '_blank'}), 'c-design-registry__item-title o-h6 u-c-navy-blue u-fw-600') }}
  {% if authors %}
    <div class="c-design-registry__item-authors">
      {% for author in authors %}
        {{ tag(author.title, 'u-c-blue-darker', 'a', {href: author.url, rel: 'noreferrer noopener', target: '_blank'}) }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {{ tag(footer|join('&nbsp;|&nbsp;'), 'c-design-registry__item-footer') }}
</div>
