<div class="c-filter__select{{ class ? ' ' ~ class : '' }}" data-taxonomy="{{ taxonomy|esc_attr }}">
  <div class="c-filter__select-value u-fw-700 u-uppercase u-c-heading u-fsz-smaller">
    {{ title }}
    {{ svg('svg-chevron-mobile', 'c-filter__select-chevron', {width: 9, height: 6}) }}
  </div>
  <ul class="c-filter__select-options o-list-bare u-c-white">
    {% for term in terms %}
    <li class="c-filter__select-option">
      <div class="c-filter__select-button{{ term.selected ? ' is-active' : '' }}" data-id="{{ term.id }}" role="button">{{ term.title }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
