<div class="c-members__item{{ class ? ' ' ~ class : '' }}" role="button" data-id="{{ id }}">
  {% if thumbnail %}
  {{ imgTag(thumbnail, 'circle', {class: 'c-members__item-thumbnail u-fit-cover', lazy: true}) }}
  {% else %}
    <div class="c-members__item-thumbnail"></div>
  {% endif %}
  <div class="c-members__item-content u-no-last-margin">
    {{ tag(title, 'c-members__item-title u-c-blue-darker', 'h3') }}
    {{ tag(affiliation, 'c-members__item-affiliation u-c-gray-dark u-fsz-12-14', 'div') }}
    {{ tag(website ? 'View Website' : '', 'c-members__item-website u-c-heading u-fw-700 u-fsz-small', 'a', {href: website, target: '_blank', rel: 'noopener noreferrer'}) }}
  </div>
</div>
