<a class="c-related-projects__item u-no-last-margin{{ class ? ' ' ~ class : '' }}" href="{{ url }}"{% if is_external_url(url) %} target="_blank" rel="noopener noreferrer"{% endif %}>
  {{ tag(countries|join(', '), 'c-related-projects__item-countries u-fw-700 u-c-heading u-fsz-small') }}
  {{ tag(title, 'c-related-projects__item-title u-c-blue-darkest u-fsz-small u-fw-400', 'h3') }}
  {% if members %}
    <div class="c-related-projects__item-members">
      {% for item in members %}
        {{ imgTag(item.thumbnail ? item.thumbnail : assetPath('images/pic-person-placeholder.png'), 'circle-small', {class: 'c-related-projects__item-member u-fit-cover', lazy: true, attributes: {title: item.title}}) }}
      {% endfor %}
    </div>
  {% endif %}
</a>
