<a class="c-research-tile u-no-last-margin{{ class ? ' ' ~ class : '' }}" href="{{ url|esc_attr }}" title="" target="{{ target ? target : (is_external_url(url) ? '_blank' : '') }}" rel="{{ rel ? rel : (is_external_url(url) ? 'noreferrer noopener' : '') }}"{{ filter ? ' data-id="' ~ filter|join(' ')|esc_attr ~ '"' : '' }}>
  <hr class="c-research-tile__bar"{{ color ? ' style="color: ' ~ color ~ '"' }}>
  {{ tag(types ? types|join(', ') : type, 'c-research-tile__type u-fw-700 u-c-heading', 'div', {striptags: true}) }}
  {{ tag(title, 'c-research-tile__title o-h5 u-fw-400', 'h4', {striptags: true}) }}
  {% if footer %}
    <div class="c-research-tile__footer u-fsz-smallest u-c-gray-dark">
      {% for item in footer %}
        <div class="c-research-tile__footer-item">{{ item }}</div>
      {% endfor %}
    </div>
  {% endif %}
</a>
