<a class="c-resources__item{{ class ? ' ' ~ class : '' }}" href="{{ url }}"{% if is_external_url(url) %} target="_blank" rel="noopener noreferrer"{% endif %}>
  <hr class="c-resources__item-bar"{{ color ? ' style="color: ' ~ color ~ '"' }}>
  <div class="c-resource__item-media">
    {{ imgTag(thumbnail, 'large', {class: 'c-resources__item-thumbnail u-fit-cover', lazy: true}) }}
  </div>
  <div class="c-resources__item-content u-no-last-margin">
    {{ tag(types ? types|join(', ') : type, 'c-resources__item-type u-c-heading u-fw-700') }}
    {{ tag(title, 'c-resources__item-title u-fw-400 o-h5', 'h3') }}
    {{ tag(subheading, 'c-resources__item-subheading u-c-gray-dark u-fsz-smallest') }}
  </div>
</a>
