{% extends "layouts/base.twig" %}

{% block content %}
  <section class="c-section">
    <div class="o-wrapper">
      Sorry, we couldn't find what you're looking for.
    </div>
  </section>
{% endblock %}
