{% extends "layouts/base.twig" %}

{% block content %}
  <section class="c-section">
    <div class="o-wrapper">
      {% for post in posts %}
        {% include ["components/tease-"~post.post_type~".twig", "components/tease.twig"] %}
      {% endfor %}
    </div>
  </section>
{% endblock %}
