///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

/* Fonts
   ========================================================================== */

$font-sans-serif: 'Source Sans Pro', sans-serif !default;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium-small: 640px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  full: 1400px,
);


/* Colors
   ========================================================================== */

$color-white: #fff;
$color-black: #000;

$color-orange: #ff5900;
$color-orange-darker: #c44805;
$color-orange-darkest: #8b3101;

$color-navy-blue: #293950;
$color-navy-blue-darker: #1e262f;
$color-navy-blue-darkest: #1c252f;

$color-teal: #9ed8cd;
$color-gray: #aca9a7;
$color-gray-dark: #5f5e5e;
$color-blue: #016ce0;
$color-blue-darker: #234067;
$color-blue-darkest: #0c1319;
$color-green: #8fa007;
$color-powder: #f7dac0;

$color-text: $color-blue-darkest;
$color-headings: $color-navy-blue-darker;
$color-light-bg: #f5f6f6;
$color-link-hover: #fa6400;


/* Transitions
   ========================================================================== */

$transition-slow-in: 0.5s;
$transition-very-slow-in: 1s;
$transition-fast-in: 0.3s;

$transition-slow-out: $transition-slow-in * 0.75;
$transition-very-slow-out: $transition-very-slow-in * 0.75;
$transition-fast-out: $transition-fast-in * 0.75;

/* Sizes
   ========================================================================== */

$header-height-small: 46px;
$header-height-medium: 65px;

$wrapper-width: 1200px;

/* Spaces
   ========================================================================== */

$block-bottom-margin: 1.3rem;
