{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<nav class="c-breadcrumbs u-fsz-smallest u-c-gray-dark{{ attrs.className ? ' ' ~ attrs.className }}">
  {% for item in attrs.breadcrumbs %}
    <span class="c-breadcrumbs__item"><a href="{{ item.url }}">{{ item.title }}</a></span>
  {% endfor %}
</nav>

