{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-cover o-wrapper-padding u-c-white u-text-center u-no-last-margin{{ attrs.className ? ' ' ~ attrs.className : '' }}">
  {{ tag(attrs.title, 'c-cover__title o-h4', 'h2') }}
  {{ tag(attrs.text, 'c-cover__text') }}
  {% include 'blocks/egap/buttons.twig' with {blockContent: blockContent, attrs: {className: 'c-cover__buttons u-mb-0'}} only %}
</section>
