{% if attrs.anchor %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
{% endif %}
<section class="c-design-registry o-wrapper-padding">
  <form class="c-design-registry__form">
    <div class="c-section__columns">
      <div>
        <h3 class="c-design-registry__filter-title o-h3 u-c-blue-darker u-fw-600">Filter</h3>
      </div>
      <div class="c-design-registry__header">
        <div class="c-design-registry__count">
          {{ attrs.count }}
        </div>
        <div class="c-design-registry__search">
          <label class="u-hidden-visually" for="design-registry-search-input">Search by title or keyword</label>
          <input class="c-design-registry__search-input" type="search" placeholder="Search by title or keyword" id="design-registry-search-input" value="{{ attrs.search|esc_attr }}" name="search">
          {{ tag(svg('svg-magnifier', 'c-design-registry__search-icon', {width: 24, height: 22}), 'c-design-registry__submit', 'button') }}
        </div>
        {#
        <button class="c-design-registry__help-trigger u-fw-600 o-h4 o-link-orange" type="button" title="Show search help">?</button>
        <div class="c-design-registry__help o-generic-links u-no-last-margin" role="dialog">
          <h2 class="o-h4">Search help</h2>
          <h3 class="o-h5">Queries</h3>
          <p>
            Search uses the <a href="http://extensions.xwiki.org/xwiki/bin/view/Extension/Search+Application+Query+Syntax" rel="noreferrer noopener">Lucene</a> search syntax. This gives you many options, but can be very simple as well. Examples of valid searches include:
          </p>
          <ul>
            <li>repro*</li>
            <li>brian AND title:many</li>
            <li>tags:(psychology)</li>
          </ul>
        </div>
        #}
      </div>
    </div>
    <div class="c-section__columns">
      <div class="c-design-registry__filters">
        <div class="c-design-registry__filter">
          <label class="u-hidden-visually" for="design-registry-search-sort">Sort by</label>
          <select class="c-design-registry__sort u-c-navy-blue-darker u-fw-700 u-uppercase" id="design-registry-search-sort" name="sort_by">
            <option value="newest"{{ attrs.sort_by == 'newest' ? ' selected' : '' }}>Sort by newest</option>
            <option value="oldest"{{ attrs.sort_by == 'oldest' ? ' selected' : '' }}>Sort by oldest</option>
          </select>
        </div>
        {% for filter in attrs.filters %}
        <div class="c-design-registry__filter">
          <div class="c-design-registry__filter-name">
            {{ filter.title }}
          </div>
          {% for item in item.items %}
            <label class="c-design-registry__checkbox">
              <input type="checkbox" name="{{ item.slug }}[]" value="{{ item.value }}">
              {{ item.name }}
            </label>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <div class="c-design-registry__items">
        {% include 'partials/design-registry-items.twig' with {items: attrs.items, pagination: attrs.pagination} %}
      </div>
    </div>
  </form>
</section>
