<{% if attrs.url %}a{% else %}div{% endif %} class="c-featured-tiles__item u-c-heading{{ attrs.className ? ' ' ~ attrs.className }}"{% if attrs.url %} href="{{ attrs.url }}" target="{{ attrs.target }}" rel="{{ attrs.rel }}"{% endif %}>
  <div class="c-featured-tiles__media">
    {{ imgTag(attrs.img, '1024', {lazy: true, class: 'c-featured-tiles__image u-fit-cover'}) }}
  </div>
  {{ tag(attrs.title, 'c-featured-tiles__text u-fsz-bigger') }}
</{% if attrs.url %}a{% else %}div{% endif %}>
