{% if blockContent %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-featured-tiles o-wrapper-padding{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-featured-tiles__title o-h3 u-fw-600 u-c-blue-darker', 'h3') }}
  <div class="c-featured-tiles__items">
    {{ blockContent }}
  </div>
</section>
{% endif %}
