{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-hero o-wrapper-padding u-c-white{{ attrs.className ? ' ' ~ attrs.className : '' }}">
  {{ imgTag(attrs.img, 'w1480', {sizes: 'hero', lazy: true, class: 'c-hero__image u-fit-cover u-fw-300'}) }}
  <div class="c-hero__inner u-no-last-margin">
    <button class="c-hero__button o-btn o-btn--primary" type="button">
      {{ svg('svg-chevron-big', 'c-hero__button-icon', {width: 21, height: 14}) }}
    </button>
    {{ tag(attrs.title, 'c-hero__title o-h3', 'h1') }}
    {{ tag(attrs.text, 'c-hero__text') }}
  </div>
</section>
