<div class="c-icon-tiles__item{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ imgTag(attrs.img, 'full', {lazy: true, class: 'c-icon-tiles__image u-fit-contain'}) }}
  {{ tag(attrs.title, 'c-icon-tiles__title u-fw-700', 'h3') }}
  {{ tag(attrs.text, 'c-icon-tiles__text') }}
  {% if attrs.buttonText %}
    {{ tag(attrs.buttonText, 'c-icon-tiles__button o-btn o-btn--outline', 'a', {href: attrs.url, target: attrs.target, rel: attrs.rel}) }}
  {% endif %}
</div>
