{% if blockContent %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-image-tiles{{ attrs.className ? ' ' ~ attrs.className }}">
  <div class="c-image-tiles__items">
    {{ blockContent }}
  </div>
</section>
{% endif %}
