{% if attrs.slides %}
{% if attrs.anchor %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
{% endif %}
<section class="c-image-slides{{ attrs.className ? ' ' ~ attrs.className }}">
  <ul class="c-image-slides__filter o-list-bare o-filter-header">
    {% for item in attrs.slides %}
      <li class="o-filter-header__item"><button class="o-filter-header__button{{ loop.first ? ' is-active' : '' }}">{{ item.title }}</button></li>
    {% endfor %}
  </ul>
  <div class="c-image-slides__items">
    {% for item in attrs.slides %}
      <div class="c-image-slides__item{{ loop.first ? ' is-active' : '' }}">
        {{ imgTag(item.img, 'full', {class: 'c-image-slides__image'}) }}
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}
