<div class="c-image-tiles__item{{ attrs.className ? ' ' ~ attrs.className }}">
  <div class="c-image-tiles__media">
    {{ imgTag(attrs.img, 'tile', {lazy: true, class: 'c-image-tiles__image u-fit-cover'}) }}
  </div>
  <div class="c-image-tiles__content">
    {{ tag(attrs.title, 'c-image-tiles__title u-fw-700', 'h3') }}
    {{ tag(attrs.text, 'c-image-tiles__text') }}
    {% if attrs.type == 'vertical' and (attrs.url or attrs.buttonText)  %}
      {{ tag(attrs.buttonText, 'c-image-tiles__button o-btn o-btn--outline o-btn--cta', 'a', {href: attrs.url, target: attrs.target, rel: attrs.rel}) }}
    {% elseif attrs.url %}
      {{ tag(svg('svg-chevron-big', 'c-image-tiles__button-chevron-icon', {width: 14, height: 9}), 'c-image-tiles__button-chevron o-btn o-btn--primary', 'a', {href: attrs.url, target: attrs.target, rel: attrs.rel}) }}
    {% endif %}
  </div>
</div>
