{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-image-stats o-wrapper-padding{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ tag(attrs.title, 'c-image-stats__title o-h4', 'h2') }}
  <figure class="c-image-stats__media">
    {{ imgTag(attrs.img, 'full', {lazy: true, class: 'c-image-stats__image u-fit-contain'}) }}
    {{ tag(attrs.caption, 'c-image-stats__caption u-show-large u-text-center', 'figcaption') }}
  </figure>
  <div class="c-image-stats__stats">
    {{ blockContent }}
  </div>
</section>
