{% if attrs.anchor %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
{% endif %}
<section class="c-members c-filter o-wrapper-padding{{ attrs.total < 25 ? ' no-more' : '' }}" data-total="{{ attrs.total }}" data-url="{{ post.url|esc_attr }}">
  <div class="c-filter__header">
    <h2 class="c-filter__title o-h3 u-c-blue-darker">{{ attrs.title ? attrs.title : 'Find Members & Affiliates' }}</h2>
    <button class="c-filter__all o-generic-link">View All</button>
    <form class="c-filter__form" method="get">
      <div class="c-filter__filters">
        {% for taxonomySlug, taxonomy in attrs.taxonomies %}
          {% include 'partials/filter-select.twig' with taxonomy|merge({class: 'c-filter__select--' ~ taxonomySlug, taxonomy: taxonomySlug}) %}
        {% endfor %}
      </div>
      <div class="c-filter__search">
        <label class="u-hidden-visually" for="member-filter-search">Search by name or keyword</label>
        <input class="c-filter__search-input u-fsz-smallest" type="text" placeholder="Search by name or keyword" id="member-filter-search" name="search">
        <button class="c-filter__search-submit">
          {{ svg('svg-magnifier', 'c-filter__search-icon', {width: 14, height: 13}) }}
        </button>
      </div>
    </form>
  </div>
  <div class="c-filter__items c-members__items">
    {% for post in attrs.posts %}
      {% include 'partials/member-item.twig' with post %}
    {% endfor %}
  </div>
  <button class="c-filter__more o-btn o-btn--primary o-btn--cta" type="button">Load More</button>
</section>
