{% if attrs.date %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<time class="c-page-date u-fw-700 u-c-heading u-uppercase{{ attrs.className ? ' ' ~ attrs.className }}">
  {{ attrs.date }}
</time>
{% endif %}
