{% if post.title or attrs.title %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<h1 class="c-page-title{{ attrs.className ? ' ' ~ attrs.className }}{{ 'is-style-smaller' in attrs.className ? ' o-h2' : ' o-h1' }}">
  {{ attrs.title ? attrs.title : post.title }}
</h1>
{% endif %}
