{% if attrs.anchor %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
{% endif %}
<section class="c-related-projects{{ attrs.className ? ' ' ~ attrs.className }}{{ attrs.posts|length < 1 ? ' no-items' : '' }}">
  <nav class="c-related-projects__items">
    {% for post in attrs.posts %}
      {% include 'partials/related-projects-item.twig' with post %}
    {% endfor %}
  </nav>
</section>
