{% if attrs.anchor %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
{% endif %}
<section class="c-related-resources{{ attrs.className ? ' ' ~ attrs.className }}{{ attrs.posts|length < 1 ? ' no-items' : '' }}">
  {% if attrs.filter %}
    <ul class="c-related-resources__filter o-list-bare o-filter-header">
      {% for id, item in attrs.filter %}
        <li class="o-filter-header__item"><button class="o-filter-header__button" data-id="{{ id }}">{{ item }}</button></li>
      {% endfor %}
      <li class="o-filter-header__item"><button class="o-filter-header__button u-fw-700">{{ __('View All') }}</button></li>
    </ul>
  {% endif %}
  {% include 'components/research-tiles.twig' with {items: attrs.posts, class: 'c-related-resources__items'} %}
  {% if attrs.viewAll and attrs.viewAllLink %}
    <a class="c-related-resources__view-all o-btn o-btn--cta o-btn--outline" href="{{ attrs.viewAllLink }}">
      {{ attrs.viewAllText }}
    </a>
  {% endif %}
</section>
