{% include 'partials/research-tile.twig' with {
  class: attrs.className,
  url: attrs.url,
  rel: attrs.rel,
  color: attrs.color,
  type: attrs.strapline,
  title: attrs.title,
  footer: attrs.text ? [attrs.text] : [],
} %}
