{% if blockContent %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-resource-tiles{{ attrs.className ? ' ' ~ attrs.className }}">
  <div class="c-resource-tiles__items c-research-tiles">
    {{ blockContent }}
  </div>
</section>
{% endif %}
