{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<section class="c-section o-wrapper-padding{{ attrs.className ? ' ' ~ attrs.className : '' }}"{{ attrs.backgroundColor ? ' style="background-color: ' ~ attrs.backgroundColor ~ '"' }}>
  {{ blockContent }}
</section>
