{% if attrs.text %}
<a class="c-submenu__item{{ attrs.className ? ' ' ~ attrs.className }}" href="{{ attrs.url }}" target="{{ attrs.target }}" rel="{{ attrs.rel }}">
  {{ attrs.text }}
</a>
{% endif %}
