{% if blockContent and innerBlocks|length > 0 %}
{% include 'partials/anchor.twig' with {id: attrs.anchor} %}
<div class="c-submenu u-no-scroll-bar{{ attrs.className ? ' ' ~ attrs.className }}{{ 'vertical' in attrs.className ? ' o-generic-links' : '' }}{{ innerBlocks|length > 5 ? ' c-submenu--many' : '' }}">
  <div class="c-submenu__items">
    {{ blockContent }}
  </div>
</div>
{% endif %}
