///* ========================================================================
//   #GUTENBERG EDITOR STYLES
//   ======================================================================== */

body {
  font-family: $font-sans-serif;
  font-size: 14px;
  line-height: (18/14);
}

p, ul {
  margin-top: 0;
}

.wp-block {
  max-width: $wrapper-width;
}

.wp-block[data-align='wide'],
.wp-block[data-align='full'] {
  max-width: none;
}

.components-button {
  font-size: 13px;
  overflow: hidden;
}

.block-editor-block-list__block {
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-buttons .block-editor-block-list__block {
  margin-bottom: 0;
}

.o-btn {
  cursor: default;
}

.wp-block-column.is-vertically-aligned-top,
.wp-block-column.is-vertically-aligned-center,
.wp-block-column.is-vertically-aligned-bottom {
  align-self: flex-start;
}

.wp-block-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="core/column"]>.block-core-columns>.block-editor-inner-blocks {
  margin-top: 0;
  margin-bottom: 0;
}

.acf-postbox.acf-postbox:hover > .hndle .acf-hndle-cog {
  display: none;
}

/*.block-editor-block-list__block > .u-mb-0:last-child {
  margin-bottom: -$block-bottom-margin;
}

.block-editor-block-list__block > .u-mb-small:last-child {
  margin-bottom: 20px;
}

.block-editor-block-list__block > .u-mb-medium:last-child {
  margin-bottom: 30px;
}

.block-editor-block-list__block > .u-mb-large:last-child {
  margin-bottom: 40px;
}*/

.wp-block-separator {
  position: relative;

  &:before,
  &:after {
    content: '';
    display: block;
    height: 20px;
    width: 100%;
    bottom: 100%;
    left: 0;
    position: absolute;
  }

  &:before {
    top: 100%;
    bottom: auto;
  }
}

.wp-block-paragraph a {
  @include link-generic;
}

@include bp(medium) {
  body {
    font-size: 16px;
    line-height: (22/16);
  }

  /*.block-editor-block-list__block > .u-mb-small:last-child {
    margin-bottom: 30px;
  }

  .block-editor-block-list__block > .u-mb-medium:last-child {
    margin-bottom: 40px;
  }

  .block-editor-block-list__block > .u-mb-large:last-child {
    margin-bottom: 50px;
  }*/
}
/*
@include bp(large) {
  .block-editor-block-list__block > .u-mb-small:last-child {
    margin-bottom: 40px;
  }

  .block-editor-block-list__block > .u-mb-medium:last-child {
    margin-bottom: 50px;
  }

  .block-editor-block-list__block > .u-mb-large:last-child {
    margin-bottom: 60px;
  }
}
*/
