<footer class="c-footer">
  {% if footer_newsletter_show %}
  <form class="c-footer__newsletter" action="{{ mailchimp_list_url|esc_attr }}" method="post" target="_blank">
    <div class="c-footer__newsletter-inner o-wrapper">
      <div class="c-footer__newsletter-copy">
        {{ tag(footer_newsletter_title, 'c-footer__newsletter-title u-c-heading o-h4', 'h3') }}
        {{ tag(footer_newsletter_text, 'c-footer__newsletter-text u-c-heading') }}
      </div>
      <div class="c-footer__newsletter-inputs">
        <div class="c-footer__newsletter-column">
          <label class="u-hidden-visually" for="footer-name">Full Name</label>
          <input class="c-footer__newsletter-input" name="FNAME" type="text" required placeholder="Full Name" id="footer-name">
        </div>
        <div class="c-footer__newsletter-column">
          <label class="u-hidden-visually" for="footer-email">Email</label>
          <input class="c-footer__newsletter-input" name="EMAIL" type="email" required placeholder="Email" id="footer-email">
        </div>
        <div class="c-footer__newsletter-column u-mb-0">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d2648e78dd791aeedcc8d6525_847cab4af0" tabindex="-1" value=""></div>
          <input type="hidden" name="subscribe" value="Subscribe">
          <button class="c-footer__newsletter-submit o-btn o-btn--primary">Send</button>
        </div>
        <div class="c-footer__newsletter-message o-generic-links"></div>
      </div>
    </div>
  </form>
  {% endif %}
  <div class="c-footer__top">
    <div class="c-footer__top-inner o-wrapper">
      <a class="c-footer__logo" href="{{ site.url }}">
        {{ svg('svg-logo', 'c-footer__logo-image', {width: 110, height: 40}) }}
      </a>
      {% if footer_navs or social_links %}
      <div class="c-footer__top-columns">
        {% if footer_navs %}
          <div class="c-footer__menus u-c-heading">
            {% for nav in footer_navs %}
              {% include 'components/footer-nav.twig' with {nav: nav} only %}
            {% endfor %}
          </div>
        {% endif %}
        {% if social_links %}
          <nav class="c-footer__social-links o-links-orange u-c-blue-darker">
            {% for item in social_links %}
              <a class="c-footer__social-links-link c-footer__social-links-link--{{ item.type }}" href="{{ item.link }}" target="_blank" rel="noopener">
                {{ svg('svg-' ~ item.type, 'c-footer__social-links-icon', {width: 24, height: 24}) }}
              </a>
            {% endfor %}
          </nav>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  {{ tag(footer_copy, 'c-footer__bottom o-wrapper-padding o-links-orange') }}
</footer>
