{% if nav %}
  <ul class="c-footer-nav o-list-bare">
    {% for item in nav.items %}
      <li class="{{item.classes | join(' ')}} c-footer-nav__item">
        <a href="{{item.link}}" class="c-footer-nav__link">
          {{ item.title }}
        </a>
        {% if item.children %}
          <ul class="c-footer-nav__dropdown o-list-bare">
            {% for subitem in item.children %}
              <li class="{{subitem.classes | join(' ')}} c-footer-nav__subitem">
                <a href="{{subitem.link}}" class="c-footer-nav__sublink">
                  {{subitem.title}}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
