<header class="c-header">
  <div class="c-header__inner o-wrapper">
    <a class="c-header__logo" href="{{ site.url }}">
      {{ svg('svg-logo', 'c-header__logo-image', {width: 134, height: 48}) }}
    </a>
    <div class="c-header__menu">
      {% include 'components/main-nav.twig' %}
    </div>
    {% include 'partials/hamburger.twig' with {class: 'c-header__hamburger u-hide-xlarge'} %}
  </div>
</header>
