{% if main_nav %}
  <ul class="c-main-nav o-list-bare">
    {% for item in main_nav.items %}
      <li class="{{item.classes | join(' ')}} c-main-nav__item">
        <a href="{{item.link}}" class="c-main-nav__link">
        <span class="o-expand o-expand--600" data-text="{{ item.title }}">
          <span class="o-expand__target">
            {{ item.title }}
          </span>
        </span>
          {% if item.children %}
            <svg class="c-main-nav__chevron" width="14" height="9">
              <use class="u-hide-xlarge" xlink:href="#svg-chevron-mobile"></use>
              <use class="u-show-xlarge" xlink:href="#svg-chevron-thin"></use>
            </svg>
          {% endif %}
        </a>
        {% if item.children %}
          <ul class="c-main-nav__dropdown o-list-bare">
            {% for subitem in item.children %}
              <li class="{{subitem.classes | join(' ')}} c-main-nav__subitem">
                <a href="{{subitem.link}}" class="c-main-nav__sublink">
                <span class="o-expand o-expand--600" data-text="{{subitem.title}}">
                  <span class="o-expand__target">
                    {{subitem.title}}
                  </span>
                </span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
