<aside class="c-overlay u-no-scroll-bar u-no-overscroll-y{{ class ? ' ' ~ class : '' }}" data-overlay-close>
  <div class="c-overlay__inner">
    <button class="c-overlay__close o-btn o-btn--primary" data-overlay-close>
      {{ svg('svg-cross', 'c-overlay__close-icon', {width: 10, height: 10}) }}
    </button>

    {{ content }}
  </div>
</aside>
