<section class="c-member c-member--staff u-no-last-margin{{ class ? ' ' ~ class : '' }}" data-id="{{ id }}">
  <div class="c-member__header">
    {{ imgTag(thumbnail, 'circle', {lazy: true, class: 'c-member__image u-fit-cover'}) }}
    <div class="c-member__header-text">
      {{ tag(title, 'c-member__header-title o-h3 u-c-blue-darker u-fw-500', 'h3') }}
      {# {{ tag(positions ? positions|join(', ') : '', 'c-member__position u-fsz-11-16') }}#}
      {{ tag(affiliation, 'c-member__affiliation u-fsz-11-16') }}
    </div>
    <div class="c-member__header-buttons">
      {{ tag(email ? __('Contact') : '', 'c-member__header-button o-btn o-btn--primary o-btn--cta', 'a', {href: email}) }}
      {{ tag(website ? __('View Website') : '', 'c-member__header-button o-btn o-btn--secondary', 'a', {href: website, target: '_blank', rel: 'noopener noreferrer'}) }}
    </div>
  </div>
  <div class="c-member__content">
    <div class="c-member__content-full u-show-medium">
      {{ content }}
    </div>
    <div class="c-member__content-excerpt u-hide-medium" aria-hidden="true">
      {{ excerpt }}
    </div>
  </div>
  {% if related_publications %}
    <div class="c-member__publications">
      <div class="c-member__publications-title u-uppercase u-fw-700 u-fsz-12-16">{{ __('Publications') }}</div>
      {% include 'components/research-tiles.twig' with {items: related_publications, class: 'c-member__publications-items'} only %}
      {% if related_publications|length > 1 %}
      <button class="c-member__publications-more o-btn o-btn--outline o-btn--cta u-hide-medium">{{ __('Load More') }}</button>
      {% endif %}
    </div>
  {% endif %}
  {% if related_members %}
    <div class="c-member__members">
      <div class="c-member__members-title u-uppercase u-fw-700 u-fsz-12-16">{{ __('Similar member profiles') }}</div>
      <div class="c-member__members-items">
        {% for item in related_members %}
          <button class="c-member__member" data-id="{{ item.id }}" data-type="staff">
            {{ imgTag(item.thumbnail, 'circle', {class: 'c-member__member-image u-fit-cover', lazy: true}) }}
            {{ tag(item.title, 'c-member__member-name u-c-gray-dark u-fsz-14') }}
          </button>
        {% endfor %}
      </div>
      <button class="c-member__view-all o-btn o-btn--outline o-btn--cta">{{ __('View All Members') }}</button>
    </div>
  {% endif %}
</section>
